$component-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 40%);
$component-border-radius: 5px;
$popup-max-height: 200px;
$mark-color: #999;
$mark-color-hover: rgb(105, 105, 105);
$txt-input-color: #4b5e80;
$txt-popup-color: #8b8e94;
$input-bg: #eef2fb;
$popup-bg: #fff;
$input-bg-selected: #c3e4ff;
$placeholder-color: #8996ac;
$selected-txt-color: #054175;
$item-hover-bg-color: #ebf5ff;
$item-hover-color: #4d6886;
